@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@import "react-slideshow-image/dist/styles.css";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

}


@media (min-width: 1400px) {

  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1420px;
  }
}
@media (min-width: 1520px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1520px;
}
}
